
*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
 }
 .header{
    min-height: 4vh;
    width: 100%;
    background: black;
    position: relative;
}
nav{
    display: flex;
    padding: 0% 6%;
    padding-top: 5px;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul a{
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.nav-links ul a:hover{
  color: white;
  transition: 0.1s;
  background: orange;
  text-decoration: none;
  font-size: 17px;
}
.slash:hover{
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 17px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

nav .fa{
        display: none;
}
@media(max-width: 700px){

    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
   
}

/*--Login--*/
.login-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-wrapper a{
    font-size: small;
    color: orange;
    padding:2px;
}


.form {
    position: relative;
    width: 100%;
    max-width: 380px;
    padding: 80px 40px 40px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  }
.form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.08);
    transform: skewX(-26deg);
    transform-origin: bottom left;
    border-radius: 10px;
    pointer-events: none;
  }
.form img {
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    width: 100px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
  }
.form h2 {
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    color: white;
  }
.form .input-group {
    position: relative;
  }
.form .input-group input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: transparent;
    color: inherit;
  }
.form .input-group label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 1rem;
    pointer-events: none;
    transition: 0.3s ease-out;
  }
.form .input-group input:focus + label,
.form .input-group input:valid + label {
    transform: translateY(-18px);
    color: white;
    font-size: 0.8rem;
  }
.submit-btn {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    border: none;
    outline: none;
    background: #ff652f;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  

.forgot-pw {
    color: inherit;
  }
  
#forgot-pw {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: 1;
    background: #fff;
    opacity: 0;
    transition: 0.6s;
  }
#forgot-pw:target {
    height: 100%;
    opacity: 1;
  }

.close {
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    color: inherit;
  }

/*--SignUp--*/

.signup-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


.form {
    position: relative;
    width: 100%;
    max-width: 380px;
    padding: 80px 40px 40px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  }
.form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.08);
    transform: skewX(-26deg);
    transform-origin: bottom left;
    border-radius: 10px;
    pointer-events: none;
  }
.form img {
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    width: 100px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
  }
.form h2 {
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    color: white;
  }
.form .input-group {
    position: relative;
  }
.form .input-group input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: transparent;
    color: inherit;
  }
.form .input-group label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 1rem;
    pointer-events: none;
    transition: 0.3s ease-out;
  }
.form .input-group input:focus + label,
.form .input-group input:valid + label {
    transform: translateY(-18px);
    color: white;
    font-size: 0.8rem;
  }
.submit-btn {
    display: block;
    margin-left: auto;
    border: none;
    outline: none;
    background: #ff652f;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  

.forgot-pw {
    color: inherit;
  }
  
#forgot-pw {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: 1;
    background: #fff;
    opacity: 0;
    transition: 0.6s;
  }
#forgot-pw:target {
    height: 100%;
    opacity: 1;
  }

.close {
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    color: inherit;
  }

/*--Transaction--*/

.title{
  font-weight: bolder;
  text-align: center;  
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-50 .pad{
  margin-top: 50px;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  color: #fff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.button {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.button:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}
  
/*--Complaints--*/

.complaints{
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    padding:20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.complaints p{
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
  text-align: left;
  padding: 20px;
  margin-bottom: 50px;
  margin-top: 30px;
  background-color: azure;
  border: 1px solid rgba(87, 209, 87, 0.453);
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.complaint-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/*--About Us--*/

.about-section {
  padding: 50px;
  text-align: center;
  width: 75%;
  margin: auto;
  background-color: #474e5d;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  color: white;
}

/*--FAQ--*/

.FAQ-Container{
  max-width: 60%;
  background-color: #e4f9f5;
  margin: 50px auto;
  padding:20px;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.FAQ-Container h1{
  margin: 20px;
  text-align: center;
}

.accordion {
  background-color: #eee;
  color: rgb(107, 107, 107);
  border-radius: 30px 30px 30px 30px;
  margin-top: 17px;

  cursor: pointer;
  padding: 18px ;
  width: 100%;
  border: 1px solid gray;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.active{
  border-radius: 30px 30px 0px 0px;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: none;
}

.panel {
  padding: 0 ;
  text-align: center;
  margin: 0 auto;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-bottom: none;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: none;
}


/*--Card Delivery--*/


/*--Trip box--*/
.Trip_box{
  padding:20px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*--User Verification--*/

.UserApply_Wrapper{
  padding:50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-btn{
  margin: 0 20px;
}

.radio-btn .btn{
  margin: 20px 10px 20px 0;
}

.radio-btn .btn::after{
 content:'';
 height: 15px;
 width: 15px;
 top: -2px;
 left: -1px;
 background-color: #fff;
 position: relative;
 display: inline-block;
 border: 3px solid azure;
 border-radius: 50%;
}

.radio-btn .btn:checked::after{
 content:'';
 background-color: black;
 transition: 0.5s;
}

.form {
  position: relative;
  width: 100%;
  max-width: 380px;
  padding: 80px 40px 40px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}
.form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.08);
  transform: skewX(-26deg);
  transform-origin: bottom left;
  border-radius: 10px;
  pointer-events: none;
}
.form img {
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  width: 100px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}
.form h2 {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  color: white;
}
.form .User_Group {
  position: relative;
}
.form .User_Group input {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: transparent;
  color: inherit;
}
.form .User_Group label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.3s ease-out;
}
.form .User_Group input:focus + label,
.form .User_Group input:valid + label {
  transform: translateY(-18px);
  color: white;
  font-size: 0.8rem;
}
.verif-btn {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: 50px;
  color: white;
  border: none;
  outline: none;
  background: #04AA6D;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.verif-btn:hover{
  background-color: #1a6c1e;
}


/*--AccountStatus--*/

.Status_table_right{
  padding: 20px;
  /* margin-left: 300px;
  margin-top: 50px; */

  margin: 50px auto;
}

.query{
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  padding:20px;
}

.query p{
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
text-align: center;
padding: 20px;
background-color: azure;
font-size: large;
font-stretch: expanded;
}
/* 
.Status_table_right tr:hover{
  background-color: white;
} */



/*--TripDeletion--*/

.deletion_row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
}

.deletion_col-50 {
  -ms-flex: 50%;
  flex: 50%;
}

.deletion_col-50 .deletion_pad{
  margin-top: 50px;
}

.delete_class{
  margin-left:450px;
}

.deletion_container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  color: #fff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

label {
  margin-bottom: 10px;
  display: block;
}

.deletion_col-50,
  .deletion_col-75 {
    padding: 0 16px;
  }


/*--Booking--*/

.Booking_Wrapper{
  padding:50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  position: relative;
  width: 100%;
  max-width: 380px;
  padding: 80px 40px 40px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}
.form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.08);
  transform: skewX(-26deg);
  transform-origin: bottom left;
  border-radius: 10px;
  pointer-events: none;
}

.form h2 {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  color: white;
}

.submit-btn {
  display: block;
  margin-left: auto;
  border: none;
  outline: none;
  background: #ff652f;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}


/*--Booking Confirmation--*/

.BookingConfirmation_Wrapper{
  padding:50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  position: relative;
  width: 100%;
  max-width: 380px;
  margin-left: 5px;
  margin-top: 120px;
  padding: 80px 40px 40px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}
.form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.08);
  transform: skewX(-26deg);
  transform-origin: bottom left;
  border-radius: 10px;
  pointer-events: none;
}

.submit-btn {
  display: block;
  margin-left: auto;
  border: none;
  outline: none;
  background: #ff652f;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}


/*--BioMetricVerification--*/

/* tr:hover {background-color: coral;} */

table {
  border-collapse: collapse;
  width: 1000px;
  margin: 0 auto;
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #04AA6D;
  color: white;
}


/*--Metro Card--*/
.Card_Container{
    margin-top:50px;
    margin-bottom: 50px
  }
  
  .card{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.10rem
  }
  .card-header:first-child{
    border-radius: calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0
  }
  .card-header{
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
  }
  .track{
    position: relative;
    background-color: #ddd;
    height: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px
  }
  .track .step{
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 25%;
    margin-top: -18px;
    text-align: center;
    position: relative
  }
  .track .step.active:before{
    background: #FF5722
  }
  .track .step::before{
    height: 7px;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 18px
  }
  .track .step.active .icon{
    background: #ee5435;
    color: #fff
  }
  .track .icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-radius: 100%;
    background: #ddd
  }
  .track .step.active .text{
    font-weight: 400;
    color: #000000
  }
  .track .text{
    display: block;
    margin-top: 7px
  }

  
/*--AdminComplaints--*/

<!--Css-->

.admin_complaints{
    max-width: 1500px;
    text-align: center;
    margin: 0 auto;
    background-color: azure;
}

table.table_1 tr{
   background-color: #f2f2f2;  
   padding: 8px;
}

table.table_1 td{
  padding: 15px;
  border: solid 1px rgb(198, 197, 197);
}

table.table_1 th{
  background-color: #000;
}





/* LANDING PAGE */
.body{
  background-color: whitesmoke;
}
/*full body ends*/
.gg p{
  padding-left: 50px;
}

.lesgo div{
  margin: 15px;
  padding: 20px;
  border-radius: 20px;
  background: #ccc;
}
.lesgo img{
  background: whitesmoke;
  border-radius: 30px;
}

.lesgo div:hover{
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.116);
}

.carousel-caption p{
  font-size: 25px;
  font-weight: 60px;
}

/*carousel starts*/
.carousel_img{
  width: 540px;
  height: 480px;

  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.carousel_vertical_center {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.dhaka_metro_rail_gradient{
  background-color: #f3ec78;
  font-size: 40px;
  padding-top: 0;
  margin-top: 0;
  line-height: 35px;
  background-image: linear-gradient(45deg, red , yellow);
  background-clip: text;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}
/*carousel ends*/






/*--footer--*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-star-half-o{
    color: #f44336;
}
