{% extends "layout.html" %}


{% block body %}
<section>
<div class="about-section" style="margin-top: 100px;">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, unde. Odio quo sunt illum sed repudiandae voluptatibus ad ducimus adipisci laborum, soluta vero nam ut aliquid eos maiores corporis nihil officiis iusto itaque? Dolore totam perspiciatis fugiat nisi, sequi deserunt nostrum ad nesciunt minima ducimus laudantium cumque vero voluptas atque asperiores harum eveniet corporis maiores ipsam velit praesentium! Ea placeat accusantium praesentium quod nobis nam in natus provident, eligendi itaque consequuntur distinctio excepturi. At pariatur, odit officia magni facilis labore corporis maiores quas natus praesentium harum. Sint iusto nobis necessitatibus. Necessitatibus nulla eius blanditiis placeat deserunt voluptates. Ratione, facilis minima!</p>
  </div>
</section>

{% endblock %}