{% extends "layout.html" %}


{% block body %}
<section>
<div class="about-section" style="margin-top: 100px;">
    <h1 class="title">About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>
      With the completion of the Metro Rail mega project, people will get a new form of everyday transportation, saving them a lot of time. However, buying tickets every day and standing in line might get tiresome and tedious. Hence, we will be giving people a card using which they can freely board the trains without having to purchase a ticket.
      <br><br>
People will be applying for their transport card via our website and after requesting one, government officials will be able to take a look into their request and verify their information and approve their request.
<br><br>
Our system will do just that and fix a delivery date. The users will be able to see the progress of their application through our website too. Upon receiving the card the user will be able to add funds to their account via our website and see their history. The website will also contain various informative and Help related pages too. Including a complaint page.
    </p>
  </div>
</section>

{% endblock %}