{% extends "layout.html" %}


{% block body %}



<div class="admin_complaints">
<section>
    <p></p>
    <table class="table_1">
        <tr>
            <th>AccID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Phone Number1</th>
            <th>Phone Number2</th>
        </tr>
        <tr>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
        </tr>
        <tr>
            <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
        </tr>
        <tr>
            <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
        </tr>
        <tr>
            <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
        </tr>
        <tr>
            <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
        </tr>
      </table>
</section>
<br>

<section>
    <h3>Complaint subject</h3>
    <div class="box1">
    </div>
</section>
<br>

<section>
    <h3>Complaint</h3>
    <div class="box2"></div>
</section>
</div>


{% endblock %}