{% extends "layout.html" %}


{% block body %}
<section class="FAQ-Container" >
<h1  class="title">FAQ</h1>



{% for faq in faqList %}
    <button class="accordion">{{ faq["faqSub"] }}</button>
    <div class="panel">
      <p>{{ faq["faqText"] }}</p>
    </div>
{% endfor %}



<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
</script>
</section>

{% endblock %}