{% extends "layout.html" %}


{% block body %}



<section>
  <h2 style="text-align: center">Biometric Verification</h2>
<table>
  <tr>
    <th>Information Type</th>
    <th>Information Value</th>
  </tr>
  <tr>
    <td>Username</td>
    <td></td>
  </tr>
  <tr>
    <td>NID</td>
    <td></td>
  </tr>
  <tr>
    <td>UserID</td>
    <td></td>
  </tr>
  <tr>
    <td>AccID</td>
    <td></td>
  </tr>
  <tr>
    <td>Date of Birth</td>
    <td></td>
  </tr>
  <tr>
    <td>Gender</td>
    <td></td>
  </tr>
</table><br>


<table>
  <tr>
    <th>Information Type</th>
    <th>Information Value</th>
  </tr>
  <tr>
    <td>Username</td>
    <td></td>
  </tr>
  <tr>
    <td>NID</td>
    <td></td>
  </tr>
  <tr>
    <td>UserID</td>
    <td></td>
  </tr>
  <tr>
    <td>AccID</td>
    <td></td>
  </tr>
  <tr>
    <td>Date of Birth</td>
    <td></td>
  </tr>
  <tr>
    <td>Gender</td>
    <td></td>
  </tr>
</table><br>

<table>
  <tr>
    <th>Information Type</th>
    <th>Information Value</th>
  </tr>
  <tr>
    <td>Username</td>
    <td></td>
  </tr>
  <tr>
    <td>NID</td>
    <td></td>
  </tr>
  <tr>
    <td>UserID</td>
    <td></td>
  </tr>
  <tr>
    <td>AccID</td>
    <td></td>
  </tr>
  <tr>
    <td>Date of Birth</td>
    <td></td>
  </tr>
  <tr>
    <td>Gender</td>
    <td></td>
  </tr>
</table><br>

<table>
  <tr>
    <th>Information Type</th>
    <th>Information Value</th>
  </tr>
  <tr>
    <td>Username</td>
    <td></td>
  </tr>
  <tr>
    <td>NID</td>
    <td></td>
  </tr>
  <tr>
    <td>UserID</td>
    <td></td>
  </tr>
  <tr>
    <td>AccID</td>
    <td></td>
  </tr>
  <tr>
    <td>Date of Birth</td>
    <td></td>
  </tr>
  <tr>
    <td>Gender</td>
    <td></td>
  </tr>
</table><br>


<table>
  <tr>
    <th>Information Type</th>
    <th>Information Value</th>
  </tr>
  <tr>
    <td>Username</td>
    <td></td>
  </tr>
  <tr>
    <td>NID</td>
    <td></td>
  </tr>
  <tr>
    <td>UserID</td>
    <td></td>
  </tr>
  <tr>
    <td>AccID</td>
    <td></td>
  </tr>
  <tr>
    <td>Date of Birth</td>
    <td></td>
  </tr>
  <tr>
    <td>Gender</td>
    <td></td>
  </tr>
</table><br>

<table>
  <tr>
    <th>Information Type</th>
    <th>Information Value</th>
  </tr>
  <tr>
    <td>Username</td>
    <td></td>
  </tr>
  <tr>
    <td>NID</td>
    <td></td>
  </tr>
  <tr>
    <td>UserID</td>
    <td></td>
  </tr>
  <tr>
    <td>AccID</td>
    <td></td>
  </tr>
  <tr>
    <td>Date of Birth</td>
    <td></td>
  </tr>
  <tr>
    <td>Gender</td>
    <td></td>
  </tr>
</table>
</section>


{% endblock %}