{% extends "layout.html" %}


{% block body %}

<
  <section style="margin: 70px auto; ">
  <h2 class="title">Checkout Form</h2>
  <div class="row" style="margin: 15px auto; ">
    <div class="col-75">
      <div class="container">

        <form action="/Transaction" method="post">
          <div class="row" style="padding: 30px; ">
            <div class="col-50">
              <h3 style="padding-bottom: 30px; ">Billing Address</h3><br>
              <div class="pad">
              <label for="Amount">Amount </label>
              <input type="text" id="Amount" name="Amount" placeholder="Enter Amount">
              
              <label for="Date">Date :</label>
              <input type="text" id="Date" name="Date" placeholder="Enter Date (yyyy-mm-dd)">
            </div>
              <div class="row">
                <div class="col-50">
                  <label for="state">State</label>
                  <input type="text" id="state" name="state" placeholder="NY">
                </div>
                <div class="col-50">
                  <label for="zip">Zip</label>
                  <input type="text" id="zip" name="zip" placeholder="10001">
                </div>
              </div>
            </div>
  
            <div class="col-50">
              <h3 style="padding-bottom: 30px; ">Payment</h3>
              <label for="fname">Accepted Cards</label>
              <div class="icon-container">
                <i class="fa-brands fa-cc-visa"></i>
                <i class="fa-brands fa-cc-amex"></i>
                <i class="fa-brands fa-cc-mastercard"></i>
                <i class="fa-brands fa-cc-discover"></i>
                
              </div>
              <label for="cname">Name on Card</label>
              <input type="text" id="cname" name="cardname" placeholder="Insert Card Name"  />
              <label for="ccnum">Credit card number</label>
              <input type="text" id="ccnum" name="cardnumber" placeholder="Enter Number"  />
              <label for="expmonth">Exp Month</label>
              <input type="text" id="expmonth" name="expmonth" placeholder="Enter Month"  />
              <div class="row">
                <div class="col-50">
                  <label for="expyear">Exp Year</label>
                  <input type="text" id="expyear" name="expyear" placeholder="2018"  />
                </div>
                <div class="col-50">
                  <label for="cvv">CVV</label>
                  <input type="text" id="cvv" name="cvv" placeholder="352"  />
                </div>
              </div>
            </div>
          </div>

          <input type="submit" value="Continue to checkout" class="button" required />
        </form>
      </div>
    </div>
  </div>  
  </section>
  


{% endblock %}