{% extends "layout.html" %}


{% block body %}


<section>
  <div class="Trip_box">
    <form action="" class="form">
      <h2>Reservation Form</h2>


      <div class="input-group">
        <input type="text" name="trainName" id="trainName" required />
        <label for="trainName">Enter Name of Train</label>
      </div>

      <div class="input-group">
        <input type="date" name="date" id="date" required />
        <label for="date"></label>
      </div>


      <div class="input-group">
        <input type="text" name="dest" id="dest"  required />
        <label for="dest">Start Time(hh:mm:ss)</label>
      </div>

        <div class="input-group">
          <input type="text" name="dest" id="dest" required />
          <label for="dest">Destination</label>
        </div>
        <div class="input-group">
          <input type="text" name="totSeat" id="totSeat" required />
          <label for="totSeat">Total Seat</label>
        </div>
        <div class="input-group">
          <input type="text" name="cost" id="cost" required />
          <label for="cost">Cost</label>
        </div>

        

        <input type="submit" value="Submit" class="submit-btn" />

    </form>
  </div>
</section>





{% endblock %}